.filter-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;

    &:focus {
      border-color: rgb(3, 47, 76);
      box-shadow: 0 0 5px rgb(3, 47, 76);
    }
  }

  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    cursor: pointer;

    &:focus {
      border-color: rgb(3, 47, 76);
      box-shadow: 0 0 5px rgb(3, 47, 76);
    }
  }
}

.movie-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-card {
  width: 300px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .card-img-top {
    border-radius: 5px 5px 0 0;
  }

  .card-body {
    padding: 15px;

    .card-title {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 10px;
    }

    .card-text {
      font-size: 14px;
      color: #666;
      margin-bottom: 15px;
    }

    .btn-link {
      padding: 8px 16px;
      margin-bottom: 15px;
      color: #fff;
      background-color: rgb(3, 47, 76);
      border: none;
      border-radius: 4px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color:rgb(11, 87, 123) ;
      }

      @media screen and (max-width: 768px) {
        padding: 6px 12px;
        font-size: 14px;
      }
    }
  }
}
